# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
!python --version

Python 3.6.5 :: Anaconda, Inc.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
#!pip install ipywidgets

from dotenv import load_dotenv
import os
import json
from pprint import pprint
load_dotenv()
API_KEY=os.getenv('google_api_key')
#!pip install gmaps
#!jupyter nbextension enable --py widgetsnbextension --sys-prefix
#!jupyter nbextension enable --py widgetsnbextension
#!jupyter nbextension enable --py --sys-prefix gmaps
#from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
vacationdf=pd.read_csv('weatherdf.csv')
vacationdf

,Unnamed: 0,city,lattitude,longitude,max_temp,humidity,cloudiness,wind_speed,country,date
0,0,Arraial do Cabo,-22.9661,-42.0278,73.36,88,75,16.11,BR,1630064268
1,1,Pevek,69.7008,170.3133,38.52,75,100,8.90,RU,1630064269
2,2,Poum,-20.2333,164.0167,73.94,78,56,14.07,NC,1630064269
3,3,Tasiilaq,65.6145,-37.6368,50.16,97,100,9.64,GL,1630064269
4,4,Vila Franca do Campo,37.7167,-25.4333,70.21,86,94,11.12,PT,1630064270
5,5,Punta Arenas,-53.1500,-70.9167,35.71,93,75,8.05,CL,1630064270
6,6,Qaanaaq,77.4840,-69.3632,38.73,84,100,2.48,GL,1630064270
7,7,Mataura,-46.1927,168.8643,42.48,98,100,1.57,NZ,1630064271
8,8,Grand Gaube,-20.0064,57.6608,70.38,87,75,14.00,MU,1630064271
9,9,Mah√©bourg,-20.4081,57.7000,70.25,85,94,24.94,MU,1630064271
10,10,Faanui,-16.4833,-151.7500,78.67,72,10,12.84,PF,1630064272
11,11,Tuktoyaktuk,69.4541,-133.0374,42.24,95,82,12.80,CA,1630064272
12,12,Ferrol,43.4832,-8.2369,82.65,74,6,5.21,ES,1630064273
13,13,Yellowknife,62.4560,-114.3525,55.92,82,40,6.91,CA,1630064273
14,14,Bluff,-46.6000,168.3333,42.80,86,100,10.65,NZ,1630064273
15,15,Cervo,43.6702,-7.4101,88.20,72,25,10.29,ES,1630064274
16,16,Penugonda,16.6667,81.7333,84.88,75,100,3.98,IN,1630064274
17,17,Severo-Kuril'sk,50.6789,156.1250,54.03,97,100,12.93,RU,1630064274
18,18,S√∏rland,67.6670,12.6934,59.07,80,4,10.45,NO,1630064275
19,19,Llanes,43.4198,-4.7549,74.95,65,24,9.91,ES,1630064275
20,20,Hambantota,6.1241,81.1185,86.34,70,40,17.27,LK,1630064275
21,21,Cape Town,-33.9258,18.4232,57.11,58,40,3.00,ZA,1630064114
22,22,Hilo,19.7297,-155.0900,72.28,90,90,6.91,US,1630064276
23,23,Gatton,-27.5500,152.2833,55.38,53,10,4.56,AU,1630064276
24,24,Barrow,71.2906,-156.7887,32.02,80,90,18.41,US,1630064277
25,25,Qaqortoq,60.7167,-46.0333,46.90,78,5,2.80,GL,1630064277
26,26,Avarua,-21.2078,-159.7750,66.25,77,75,3.44,CK,1630064277
27,27,Fortuna,40.5982,-124.1573,56.86,75,90,1.01,US,1630064278
28,28,Fairbanks,64.8378,-147.7164,48.09,95,90,0.00,US,1630064278
29,29,Sitka,57.0531,-135.3300,57.09,88,90,8.05,US,1630064278
...,...,...,...,...,...,...,...,...,...,...
546,546,Black River,18.0264,-77.8487,80.98,86,96,10.49,JM,1630064454
547,547,Monywa,22.1167,95.1333,88.16,63,99,0.65,MM,1630064454
548,548,Hay River,60.8156,-115.7999,55.38,76,20,6.91,CA,1630064454
549,549,Aranos,-24.1333,19.1167,73.36,11,0,15.30,NaN,1630064455
550,550,Arrondissement de Saint-Jean-de-Maurienne,45.1667,6.5833,54.52,49,17,7.90,FR,1630064455
551,551,Plainview,40.7765,-73.4673,80.06,87,1,0.00,US,1630064233
552,552,Tuscaloosa,33.2098,-87.5692,74.98,95,1,3.44,US,1630064456
553,553,Talcahuano,-36.7167,-73.1167,47.88,100,75,6.91,CL,1630064456
554,554,Innisfail,-17.5333,146.0333,68.79,93,7,2.98,AU,1630064456
555,555,Kobryn,52.2138,24.3564,64.35,80,100,1.28,BY,1630064456
556,556,Kon√´vo,62.1215,39.3192,61.16,45,15,5.97,RU,1630064457
557,557,Sokoni,-6.4333,39.5500,77.58,69,15,12.57,TZ,1630064457
558,558,Vila Velha,-20.3297,-40.2925,76.95,69,20,8.05,BR,1630064283
559,559,Madang,-5.2246,145.7966,78.57,88,28,7.05,PG,1630064458
560,560,Minbu,20.1833,94.8833,86.31,67,99,9.37,MM,1630064458
561,561,Jiaojiang,28.6803,121.4428,76.48,90,0,4.09,CN,1630064458
562,562,Camopi,3.1655,-52.3158,78.71,84,91,3.20,GF,1630064459
563,563,Tarko-Sale,64.9225,77.7850,46.04,79,100,22.53,RU,1630064459
564,564,Gladstone,-23.8500,151.2500,60.73,82,1,1.14,AU,1630064459
565,565,Dir√©,12.2833,-10.9667,83.32,77,95,2.17,ML,1630064460
566,566,Isangel,-19.5500,169.2667,70.56,74,3,6.80,VU,1630064460
567,567,Chekhov,55.1431,37.4711,73.63,40,84,11.50,RU,1630064460
568,568,Ust'-Uda,54.1742,103.0304,62.24,53,10,2.17,RU,1630064460
569,569,Hobyo,5.3505,48.5268,82.06,66,9,30.36,SO,1630064461
570,570,Berdigestyakh,62.0989,126.6992,41.41,86,100,9.22,RU,1630064461
571,571,Shƒ´eli,44.1667,66.7500,97.79,11,27,9.78,KZ,1630064461
572,572,New Glasgow,45.5834,-62.6486,72.10,83,3,8.55,CA,1630064462
573,573,Phan Thiet,10.9333,108.1000,77.65,87,98,3.40,VN,1630064462
574,574,Nur-Sultan,51.1801,71.4460,85.95,23,0,11.18,KZ,1630064462
575,575,Preobrazheniye,42.9019,133.9064,69.04,78,99,7.20,RU,1630064463

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
#Configure GMAPS
gmaps.configure(API_KEY)

In [6]:
humidity=vacationdf['humidity'].astype(float)
max_humidity=humidity.max()
city=vacationdf[['lattitude','longitude']]
fig=gmaps.figure(center = [31.9686, -99.9018], zoom_level = 3)
heat_layer=gmaps.heatmap_layer(city,weights=humidity,max_intensity=max_humidity,dissipating=False,point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
best=vacationdf.loc[(vacationdf['max_temp']<75)&(vacationdf['max_temp']>70)&(vacationdf['cloudiness']<10)]
best

,Unnamed: 0,city,lattitude,longitude,max_temp,humidity,cloudiness,wind_speed,country,date
56,56,Guerrero Negro,27.9769,-114.0611,72.84,80,0,4.27,MX,1630064287
136,136,Ukiah,39.1502,-123.2078,72.03,65,1,0.00,US,1630064086
227,227,Matamoros,25.5333,-103.2500,70.11,65,5,5.30,MX,1630064344
237,237,Shunyi,40.1250,116.6453,73.35,60,0,4.47,CN,1630064348
281,281,PanjƒÅb,34.3880,67.0233,73.42,11,5,9.06,AF,1630064362
385,385,Russell,32.3502,-85.1999,74.91,90,1,3.44,US,1630064398
425,425,Camargo,27.6667,-105.1667,70.66,62,6,4.14,MX,1630064414
477,477,Jim√©nez,28.3333,-105.4000,70.61,61,9,2.91,MX,1630064431
494,494,Port Hedland,-20.3167,118.5667,73.45,78,0,8.05,AU,1630064437
516,516,Laguna,38.4210,-121.4238,73.76,67,1,3.44,US,1630064444
528,528,Magnolia,33.2671,-93.2393,71.29,96,2,3.67,US,1630064184
549,549,Aranos,-24.1333,19.1167,73.36,11,0,15.30,NaN,1630064455
552,552,Tuscaloosa,33.2098,-87.5692,74.98,95,1,3.44,US,1630064456
566,566,Isangel,-19.5500,169.2667,70.56,74,3,6.80,VU,1630064460
572,572,New Glasgow,45.5834,-62.6486,72.10,83,3,8.55,CA,1630064462

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
#Store into variable named hotel_df.
#Add a "Hotel Name" column to the DataFrame.
#best1=best
best['hotel']='nan'

best1=best

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [9]:
hlist=len(set(best1['Unnamed: 0']))
hlist

15

In [10]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    'type':"lodging",
    "keyword":"hotel",
    "radius": 20000,
    "key": API_KEY,
}

In [11]:
for  index,row in best1.iterrows():
    lat=row['lattitude']
    lng=row['longitude']
    city=row['city']
    params['location']=f'{lat},{lng}'
    print (f'retriving {city}')
    
    response=requests.get(base_url,params=params).json()
    results=response['results']
    
    try:
        best1.loc[index,'hotel']=results[0]['name']
    except (KeyError,IndexError):
        print("missing")

retriving Guerrero Negro
missing
retriving Ukiah
missing
retriving Matamoros
missing
retriving Shunyi
missing
retriving PanjƒÅb
missing
retriving Russell
missing
retriving Camargo
missing
retriving Jim√©nez
missing
retriving Port Hedland
missing
retriving Laguna
missing
retriving Magnolia
missing
retriving Aranos
missing
retriving Tuscaloosa
missing
retriving Isangel
missing
retriving New Glasgow
missing

In [12]:
best1

,Unnamed: 0,city,lattitude,longitude,max_temp,humidity,cloudiness,wind_speed,country,date,hotel
56,56,Guerrero Negro,27.9769,-114.0611,72.84,80,0,4.27,MX,1630064287,nan
136,136,Ukiah,39.1502,-123.2078,72.03,65,1,0.00,US,1630064086,nan
227,227,Matamoros,25.5333,-103.2500,70.11,65,5,5.30,MX,1630064344,nan
237,237,Shunyi,40.1250,116.6453,73.35,60,0,4.47,CN,1630064348,nan
281,281,PanjƒÅb,34.3880,67.0233,73.42,11,5,9.06,AF,1630064362,nan
385,385,Russell,32.3502,-85.1999,74.91,90,1,3.44,US,1630064398,nan
425,425,Camargo,27.6667,-105.1667,70.66,62,6,4.14,MX,1630064414,nan
477,477,Jim√©nez,28.3333,-105.4000,70.61,61,9,2.91,MX,1630064431,nan
494,494,Port Hedland,-20.3167,118.5667,73.45,78,0,8.05,AU,1630064437,nan
516,516,Laguna,38.4210,-121.4238,73.76,67,1,3.44,US,1630064444,nan
528,528,Magnolia,33.2671,-93.2393,71.29,96,2,3.67,US,1630064184,nan
549,549,Aranos,-24.1333,19.1167,73.36,11,0,15.30,NaN,1630064455,nan
552,552,Tuscaloosa,33.2098,-87.5692,74.98,95,1,3.44,US,1630064456,nan
566,566,Isangel,-19.5500,169.2667,70.56,74,3,6.80,VU,1630064460,nan
572,572,New Glasgow,45.5834,-62.6486,72.10,83,3,8.55,CA,1630064462,nan

In [18]:
# copy: Do not change any of the code in this cell


# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in best1.iterrows()]
locations = best1[["lattitude", "longitude"]]

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [98]:
print(info_box_template)
print(hotel_info)

<dl>
<dt>Name</dt><dd>{hotel}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>

['\n<dl>\n<dt>Name</dt><dd>The Halfway Inn</dd>\n<dt>city</dt><dd>Guerrero Negro</dd>\n<dt>Country</dt><dd>MX</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>The Lodge at Blue Lakes</dd>\n<dt>city</dt><dd>Ukiah</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>ibis Torre√≥n</dd>\n<dt>city</dt><dd>Matamoros</dd>\n<dt>Country</dt><dd>MX</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>The Great Wall Sheraton Hotel Beijing</dd>\n<dt>city</dt><dd>Shunyi</dd>\n<dt>Country</dt><dd>CN</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>nan</dd>\n<dt>city</dt><dd>PanjƒÅb</dd>\n<dt>Country</dt><dd>AF</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Hampton Inn & Suites Phenix City- Columbus Area</dd>\n<dt>city</dt><dd>Russell</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Hotel Santa Fe</dd>\n<dt>city</dt><dd>Camargo</dd>\n<dt>Country</dt><dd>MX</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>CASA GRANDE DELICIAS</dd>\n<dt>city</dt><dd>Jim√©nez</dd>\n<dt>Country</dt><dd>MX</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Hospitality Port Hedland</dd>\n<dt>city</dt><dd>Port Hedland</dd>\n<dt>Country</dt><dd>AU</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Hampton Inn & Suites Sacramento-Elk Grove Laguna I-5</dd>\n<dt>city</dt><dd>Laguna</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Quality Inn Magnolia</dd>\n<dt>city</dt><dd>Magnolia</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Aranos Hotel</dd>\n<dt>city</dt><dd>Aranos</dd>\n<dt>Country</dt><dd>nan</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Hotel Capstone</dd>\n<dt>city</dt><dd>Tuscaloosa</dd>\n<dt>Country</dt><dd>US</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>White Grass Ocean Resort & Spa</dd>\n<dt>city</dt><dd>Isangel</dd>\n<dt>Country</dt><dd>VU</dd>\n</dl>\n', '\n<dl>\n<dt>Name</dt><dd>Holiday Inn Express Stellarton-New Glasgow, an IHG Hotel</dd>\n<dt>city</dt><dd>New Glasgow</dd>\n<dt>Country</dt><dd>CA</dd>\n</dl>\n']

In [99]:
# Add marker layer ontop of heat map
markers=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))